/* ---------------------------------------------------------media query------------------------------------------- */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1440px) {
  .package_type {
    height: 433px;
  }
  .joinus .row{
    width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1024.98px) {
  /* navbar */
  .navbar .navbar-collapse .navbar-nav {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }
  .dropdown {
    text-align: center;
  }
  .dropdown-menu.show {
    /* left: 290px; */
  }
  .navbar .navbar-collapse .register_btn {
    width: 35%;
    text-align: center;
    justify-content: center;
  }
  .navbar .navbar-collapse .register_btn .first {
    padding: 4%;
    width: 65%;
  }
  /* navbar */

  .common_anwser
    .accordion
    .accordion-item
    .accordion-header
    .accordion-button {
    text-align: start;
  }
  .hero_section .content h1 {
    font-size: 2rem;
  }
  .hero_section .content .button {
    margin: 2rem 0;
  }

  footer {
    padding: 10% 0 2%;
  }
  footer .logo_footer .disc {
    font-size: 0.8rem;
  }
  footer .important_links .adress {
    font-size: 1rem;
  }
  footer .important_links ul li a {
    font-size: 0.8rem;
  }
  .team_section .first_im,
  .team_section .fourth {
    width: 100%;
  }
  .team_section .second,
  .team_section .third {
    width: 100%;
    transform: translateX(0px);
  }
  .team_section .fifth {
    display: none;
  }
  .hero_section .ball1,
  .hero_section .ball2 {
    display: none;
  }
  .main_title span::after {
    right: 40%;
  }
  .sec_title span {
    width: 27%;
  }
  .why_section .boxes .box p {
    font-size: 1rem;
  }
  .faq_section .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 0.7rem;
  }
  .faq_section .accordion .accordion-item .accordion-collapse .accordion-body {
    padding: 4% 7%;
    font-size: 1rem;
  }
  footer .social_links {
    width: 100%;
  }
  footer .social_links li {
    width: 35px;
    height: 35px;
  }
  .package_type{
height: 400px;
  } 
}

@media only screen and (max-width: 991.98px) {
  .dropdown-menu.show {
    left: 290px;
  }
  .navbar {
    position: relative;
  }
  .navbar .navbar-collapse .register_btn::before {
    display: none;
  }
  .navbar .navbar-collapse .register_btn {
    width: 100%;
  }
  .navbar .navbar-collapse .register_btn .first {
    padding: 1%;
    width: 22%;
  }
  .hero_section {
    margin-top: 0;
  }
  .hero_section .content .join_us_hero span {
    width: 100%;
  }
  .hero_section .content .join_us_hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero_section .content .join_us_hero .img {
    justify-content: center;
  }
  .main_title span::after {
    display: none;
  }
  .sec_title span::after {
    display: none;
  }
  .hero_section .content {
    text-align: center;
    padding-inline-end: 0%;
  }
  .hero_section .content .button {
    justify-content: center;
  }

  .counter_section .boxes .box {
    justify-content: center;
    margin-bottom: 3%;
  }

  .sec_title {
    padding: 2% 10%;
  }
  .last_news .last_box {
    height: unset;
    margin-bottom: 9%;
  }
  .last_news .last_box .img {
    /* height: 199px; */
  }
  .button {
    margin: 2% 0;
  }
  .join_us .main_title {
    padding-top: 58px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .join_us .button {
    margin-top: 3%;
    justify-content: center;
  }
  .join_us .img {
    justify-content: center;
    padding-top: 0px;
  }
  .last_news .last_box .text {
    text-align: center;
  }
  footer .important_links ul li {
    margin-bottom: 2%;
  }
  footer .important_links .adress {
    text-align: center;
  }
  footer .important_links ul {
    justify-content: center;
    align-items: center;
  }
  footer .logo_footer {
    align-items: center;
  }
  footer .logo_footer .disc {
    text-align: center;
    padding-inline-end: 0;
  }
  footer .social_links {
    justify-content: center;
    align-items: center;
  }
  footer .social_links li {
    padding-inline-start: 0;
  }
  footer .important_links{
    padding-top: 0%;
  }
  footer .important_links ul {
    justify-content: start;
  }
  footer .important_links ul li{
    width: 33%;
  }
  footer .app p{
    text-align: center;
  }
  .lower_footer .slug p ,.lower_footer .copy_right p{
    text-align: center;
  }
  .app_section .app {
    padding: 34px 34px;
  }
  .app_section .app .app_image {
    position: absolute;
    left: -16px;
    bottom: -51px;
    height: 400px;
    width: 50%;
  }
  .main_title {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .why_section .join_us_why {
    width: 100%;
  }
  .notes_section .card_list::after {
    display: none;
  }

  .joinus .img {
    height: 400px;
  }
  
  .joinus .content .button {
    margin-top: 3%;
  }
  .lastnews .anther_blog {
    margin-top: 4%;
  }
  .team_section .second,
  .team_section .third {
    width: 200px;
  }
  .team_section .first_im,
  .team_section .fourth {
    width: 223px;
  }
  .contact_us form .input-group .form-control{
    padding-inline-start: 7%;
  }
  .package_sec .card_package{
    margin-bottom: 3%;
  }
  .detials_package h6::before ,.detials_package h6::after{
    display: none;
  }
  .header{
    margin-top: -3%;
  }
  .package_type {
    height: 450px;
    margin-bottom: 5%;
}
.team_section.responsive{
  display: block;
}
.team_section{
  display: none;
}
.team_section .images{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: start;
}
.team_section .images img{
  width: 30%;
  margin-inline-end: 2%;
  height: 200px;
  margin-bottom: 2%;
}
.team_section  .button .first {
width: 30%;
padding: 1%;
}
.joinus .content {
  padding: 0% 8% 4%;
}
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767.98px) {
  .dropdown-menu.show {
    left: 145px;
  }
}

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 425px) {
  .dropdown-menu.show {
    /* left: 145px; */
  }
  .hero_section .content p {
    padding-inline-end: 0%;
  }
  .hero_section .img img {
    width: 81%;
  }
  .mensaa_section .img {
    height: 360px;
  }
  
  .join_us .img img {
    width: 100%;
  }
  .why_section .boxes .box p ,.why_section .boxes .box .head-categ ,.why_section .boxes .box .counter{
    text-align: center;
  }
  .why_section .join_us_why{
    
  }
  footer .logo_footer .disc {
    padding-inline-end: 0%;
  }
  .lower_footer .slug {
    width: 100%;
    text-align: center;
  }
  .lower_footer ul {
    width: 100%;
    justify-content: center;
  }
  .serveice_ti .sercice_cards .service_card {
    width: 100%;
    height: unset;
    margin-bottom: 2%;
  }
  .adventages_courses .mansaa_cards .mansaa_card {
    width: 100%;
  }
  .adventages_courses .mansaa_cards .mansaa_card:nth-child(even) {
    transform: translateY(0px);
  }
  .testmonies_section .swiper .swiper-slide .head .img {
    transform: translateY(-9px);
  }
  .education_section .tabs_ed li {
    width: 97%;
    margin-bottom: 6%;
    font-size: 1rem;
  }
  .header .text h2 {
    font-size: 2rem;
  }
  .header .text ul li a {
    font-size: 1rem;
  }
  .header .text ul {
    align-items: center;
  }
  .header .text ul li i {
    font-size: 1rem;
  }
  .edu_person_info p {
    margin-top: 6%;
  }
  .single_blog .content {
    padding: 2% 34px;
  }
  .navbar .navbar-collapse .register_btn {
    margin: 3% 0;
  }
  .navbar .navbar-collapse .register_btn .first {
    padding: 2%;
    width: 30%;
  }
  .contact_us form{
    padding-inline-end: 10%;
  }
  .package_type{
    height: 405px;
margin-bottom: 5%;
  }
.tab_teacher{
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.hero_section .tab_teacher .tab-content .card_teacher .img img{
  width: 100%;
}
.hero_section .tab_teacher .tab-content .card_teacher .info{
  width: 100%;
}
.why_section .join_us_why{
    flex-direction: column;
}
.why_section .join_us_why .info{
  width: 100%;
}
.printer_section .swiper .swiper-slide {
  align-items: center;
}
.printer_section .swiper .swiper-slide .pranter_card .title{
  text-align: center;
}
.printer_section .swiper .swiper-slide .pranter_card span{
  text-align: center;
}
.sec_title span{
  width: 100%;
  margin-bottom: 3%;
}
.xyz{
  display: flex;
  justify-content: space-between;
}
.team_section .second, .team_section .third{
  width: 45%;
}
.team_section .first_im, .team_section .fourth{
  width: 45%;
}
.team_section .images img{
  width: 45%;
  margin-inline-end: 5%;
  height: 250px;
  margin-bottom: 5%;
}
.navbar .navbar-collapse .dropdown .dropdown-toggle{
  margin: auto;
}
}
